<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" 
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">	
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	
	
</head>
<body>
     <!-- Header START -->
	<div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">BookStore</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/book}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/user}">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
	</div>
	<!-- Header END -->
	<div class="row mt-3">
		<div class="col-sm-6 col-md-6">
			<b style="margin-left:14%; font-size:110%;">User Detail</b>
		</div>
		<div class="col-sm-6 col-md-6 text-right">
			<a th:href="@{/user/add}"><b style="margin-right:14%; font-size:110%;">Add</b>
			</a>
		</div>
	</div>
	<div class="container mt-3" >
		<div class="jumbotron">
			<table id="example" class="display dataTable" 
			style="overflow-x: scroll; overflow-y: scroll; 
					max-width: 100%; display: block; 
					white-space: word-wrap: break-word;" 
					cellspacing="0">
	        <thead>
	            <tr>
	                <th>UserName</th>
	                <th>Email</th>
	                <th>password</th>
	                <th>Phone</th>
	                <th>City</th>
	                 <th>PinCode</th>
	                 <th>State</th>
	                <th>Action</th>
	            </tr>
	        </thead>
	        <tbody th:if="${ users != null }">
	            <tr th:each="user: ${users}">
	                <td th:text="${user.userName}"></td>
	                <td th:text="${user.mailId}"></td>
	                <td th:text="${user.password}"></td>
	                <td th:text="${user.phone}"></td>
	                
	                  <td th:text="${user.city}"></td>
	                  <td th:text="${user.pinCode}"></td>
	                  <td th:text="${user.state}"></td>
	                <td>
	                	<a th:href="@{/user}">
	                		<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
	                	</a> 
	                	&nbsp;
	                	<a th:href="@{/user}">
	                		<i class="fa fa-trash" aria-hidden="true"></i>
	                	</a> 
	                </td>
	            </tr>
	         </tbody>
         </table>
		</div>
	</div>
<script type="text/javascript">

$(document).ready(function() {
    $('#example').DataTable();
} );

</script>

</body>
</html>