<!DOCTYPE HTML>
<html>
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<form>
	<div style="padding: 100px 100px 10px;">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Enter Username</span>
			</div>
			<input type="text" class="form-control" placeholder="Username">
		</div>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Enter Password</span>
			</div>
			<input type="password" class="form-control" placeholder="Password">
		</div>
		
		<a th:href="@{../sign_in/do_signin}"
			class="btn btn-lg btn-primary float-left">Login</a> 
			
			<a
			th:href="@{../sign_up/do_signup}"
			class="btn btn-lg btn-primary float-right">SignUp</a>





	</div>
</form>
</html>